.fontRob {
  font-family: "Roboto", sans-serif;
}

.rounded:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.431);
}

.rounded {
  transition: box-shadow 0.3s ease;
  transform: scale(1);
  box-shadow: 1px rgba(0, 0, 0, 0.431);
}

.diagramTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  padding: 10px;
  background-color: white;
  margin-left: 80px;
  margin-bottom: 2px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.tableTeam {
  width: 90vw;
  height: 10vh;
  margin: bottom 4px;
  background-color: white;
  font: bold;
  margin-bottom: 9px;
}

.titleRow {
  border: 2px solid #e0e0e0;
  height: 5vh;
}

.idRow {
  border: 2px solid #e0e0e0;
  height: 5vh;
}

.idCol {
  border: 2px solid #e0e0e0;
  height: 5vh;
}

.firstRow {
  border: 2px solid #e0e0e0;
  height: 5vh;
}

.tableColumns {
  text-align: center;
}

.tableProfile {
  text-align: center;
}

.link {
  color: #426da9;
  width: 5px;
}

.link:hover {
  text-decoration: underline;
}

.tableArticle {
  width: 90vw;
  margin-left: 4px;
}

.indicator {
  flex-direction: row;
}

.arrow {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 10px;
  height: 11px;
}

.percentageItem {
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 2px;
  width: 8vw;
}

.userFow {
  text-align: center;
}

.information {
  border-left: 4px solid #bbcfe0;
  padding-left: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1.83px 4.58px rgba(169, 168, 168, 0.6);
  border-radius: 0.375rem;
  width: 60vw;
  height: 4vh;
}

.sectionSelect {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 10vh;
  margin-left: 0.75rem;
  margin-bottom: 0.25rem;
}

.tabutton {
  cursor: pointer;
  width: 10vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #426da9;
  background-color: #ffffff;
  border-radius: 2.5vh;
}

.effectButton {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-weight: bold;
  background-color: #426da9;
  color: #ffffff;
}

.my-confirm-button {
  margin-top: -30px;
  width: 130px;
  height: 40px;
  font-weight: bold;
}

.image-modal {
  margin-top: -2px;
  width: 700px;
  height: 330px;
}

.borderButton {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 2.5vh;
  border: 1px solid #d6d6d6;
  width: 20vw;
  padding: 0.25rem;
  height: 6vh;
}

.sectionButton {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.imageButton {
  width: 1vw;
  height: 2vh;
}

.textParraf {
  color: black;
}

@media screen and (max-width: 640px) {

  .firstRow,
  .tableColumns,
  .tableProfile {
    display: none;
  }

  .tableTeam {
    width: 75%;
    margin-bottom: 10px;
  }

  .tableArticle {
    margin-left: 1px;
  }

  .firstRow {
    display: none;
    width: 4px;
  }

  .idRow {
    width: 10px;
  }

  .indicator {
    flex-direction: column;
    width: 90px;

    margin-left: 10px;
  }

  .arrow {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .idCol {
    width: 35px;
  }

  .percentageItem {
    margin-left: 12px;
    width: 25vw;
  }

  .information {
    height: 85px;
    width: 70%;
    font-size: small;
  }

  .sectionSelect {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
  }

  .effectButton {
    font-weight: bold;
    background-color: #426da9;
    color: #ffffff;
  }

  .imageButton {
    display: none;
  }

  .borderButton {
    width: 80vw;
    height: 4vh;
    margin-left: 8vw;
  }

  .tabutton {
    width: 29vw;
    height: 3vh;
    font-size: smaller;
    text-align: center;
    border-radius: 9px;
    margin-right: 10px;
  }

  .sectionButton {
    width: 30vw;
    height: 12vw;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .image-modal {
    margin-top: -2px;
    width: 85vw;
    height: 25vh;
  }

  .diagramTable {
    width: 70vw;
    margin-left: 0;
    height: 30vh;
    margin-top: 3vw;
  }

  .textParraf {
    font-size: small;
  }
}

/* Barra de progreso */

.tex-center {
  width: 11vw;
}

.percentageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.progressBarBackground {
  width: 50%;
  height: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  position: relative;
  margin-bottom: 4px;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.percentageText {
  font-size: 12px;
}