/* Estilo para el overlay */
.my-overlay-class {
    background: rgba(0, 0, 0, 0.5);
    /* Fondo negro con transparencia */
    backdrop-filter: blur(4px);
    /* Blur suave */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el modal */
.my-modal-class {
    background: white;
    /* Fondo blanco para el modal */
    border-radius: 10px;
    /* Bordes redondeados */
    width: 50%;
    /* Ancho del modal */
    height: auto;
    /* Altura automática según el contenido */
    margin: auto;
    /* Centrado automático */
    padding: 20px;
    /* Espaciado interior */
    position: relative;
    /* Posición relativa para permitir el posicionamiento de elementos dentro del modal */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}