/* Oculta la tabla responsive por defecto */
.responsive-table {
    display: none;
}

/* Oculta la tabla no responsive por defecto solo en el tamaño de pantalla de iPhone 12 Pro */
.non-responsive-table {
    display: block;
}

/* Muestra la tabla responsive y oculta la otra tabla solo en iPhone 12 Pro */
@media screen and (min-width: 390px) and (max-width: 390px) {
    .responsive-table {
        display: block;
    }

    .non-responsive-table {
        display: none;
    }
}

/* CSS para hacer la tabla responsive */
@media (max-width: 390px) {
    .text-sm {
        font-size: 0.875rem;
    }
}

/* Responsive section */
/* Oculta la tabla responsive por defecto */
.responsive-section {
    display: none;
}

/* Oculta la tabla no responsive por defecto solo en el tamaño de pantalla de iPhone 12 Pro */
.non-responsive-section {
    display: block;
}

/* Muestra la tabla responsive y oculta la otra tabla solo en iPhone 12 Pro */
@media screen and (min-width: 390px) and (max-width: 390px) {
    .responsive-section {
        display: block;
    }

    .non-responsive-section {
        display: none;
    }
}

/* CSS para hacer la tabla responsive */
@media (max-width: 390px) {
    .text-sm {
        font-size: 0.875rem;
    }
}

.custom-grid {
    grid-template-columns: 1fr 1fr 2fr;
}